body {
  margin: 0px;
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    #aaaaaa 1px,
    rgba(192, 192, 192, 0) 1px
  );
  cursor: default;
}

/* A * is an universal selector, it selects every element in HTML */
* {
  box-sizing: border-box;
}

/* to access a class of html use the dot (.) operator */
.tool-image {
  height: 4rem;
  background-color: white;
  border: 5rem;
  border-color: white;
}

/* by default the child divs are shown horizontally, if we give the display as flex, then they will be shown vertically */
.tool-bar-tools {
  display: flex;
}

.tool-bar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* background-color: white; */
}

.input-tag {
  display: none;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  border: 5rem;
  border-color: white;
}

.pen {
  display: none;
}

.eraser {
  display: none;
}

.canvas.default {
  cursor: default; /* Default cursor */
}

.canvas.pen-cursor {
  cursor: url("./Icons/pen-cursor.png"), auto; /* Pen cursor */
}

.canvas.eraser-cursor {
  cursor: url("./Icons/eraser-cursor.png"), auto; /* Eraser cursor */
}
