body {
  margin: 0px;
}
/* A * is an universal selector, it selects every element in HTML */
* {
  box-sizing: border-box;
}

/* to access a class of html use the dot (.) operator */
.tool-image {
  height: 4rem;
}

/* by default the child divs are shown horizontally, if we give the display as flex, then they will be shown vertically */
.tool-bar-tools {
  display: flex;
}

.tool-bar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sticky {
  height: 10rem; /* 1 rem = 16px */
  width: 6rem;
  position: absolute;
  left: 40vw;
  top: 40vw;
}

.sticky-navigation {
  border: 1px solid black;
  height: 20%;
  background-color: aquamarine;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.text-area {
  height: 80%;
  width: 100%;
}
